<!DOCTYPE html>
<head>
<title>BUILD A DAMN BLOG!</title>
</head>
<body>
<h1>BUILD A DAMN BLOG!</h1>

<form method ="post" action="/text">
    <label>
        <div>title</div>
        <input type="text" name="title" value="{{title}}">
        </label>
            <div>art</div>
            <textarea name ="art">{{art}}</textarea>
        <div class ="error">{{error}}</div>
        </label>
            </form>

<p>blog1_title</p>
<p>blog1_text</p>

<p>blog2_title</p>
<p>blog2_text</p>
<p>blog3_title</p>
<p>blog3_text</p>
<p>blog4_title</p>
<p>blog4_text</p>
<p>blog5_title</p>
<p>blog5_text</p>


    </body>
    </html>
